.gitignore.save
test*.rb
lib/.yardoc
lib/.yardoc/*
*.ini
lib/esxi.rb
RubyToDo.txt
getRequires.sh*
lib/upstest.txt
upstest.txt
lib/required/upstest.txt
TruthTable.xlsx
.idea/*
temp.txt
lib/required/NotificationBeforeRefactor.old
Gemfile.lock
rubyInfo.txt
*.old
.bundle/*
vendor/*
lib/*.rb
lib/*.txt
